@page "{pizzaId}"
@model Amore.PizzaPoll.Pages.Order.IndexOrderModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "Shared/_Layout";
}

<div class="media pizza-item shadow rounded bg-amore-secondary mt-2 sticky-top">
    <img src="@($"/{Model.Pizza.ProductImagePath}")" class="mr-3 d-none d-md-block" alt="pizza-image">
    <div class="media-body h-100 pt-2">
        <div class="h-100 w-100">
            <h5 class="mt-0">Deine Pizza</h5>
            <h4 class="amore-font">@Model.Pizza.Name</h4>
        </div>
    </div>
</div>

<section class="pizza-order">

    <div class="d-block mt-4">
        <h4>Noch ein paar Goodies gefällig?</h4>
        <p>
            Du kannst höchstens <strong>zwei</strong> zusätzliche Goodies wählen, und höchstens <strong>zwei</strong> Standardgoodies abwählen.
        </p>

        <form class="pb-4" method="post">

            <div class="pl-3 mb-3">
                <input asp-for="FormModel.PizzaId" value="@Model.Pizza.Id" hidden/>
                @foreach (var goodie in Model.AdditionalGoodies)
                {
                    <div class="form-check">
                        <input asp-for="@Model.FormModel.SelectedGoodies[goodie.Id]"/>
                        <label asp-for="@Model.FormModel.SelectedGoodies[goodie.Id]">@goodie.Name</label>
                    </div>
                }
            </div>

            <button type="submit" class="btn bg-amore-primary w-100 text-white">
                <svg class="bi bi-check" width="24" height="24" viewBox="0 0 20 20" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M15.854 5.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L8.5 12.293l6.646-6.647a.5.5 0 01.708 0z"
                          clip-rule="evenodd">
                    </path>
                </svg>
                Bestellen
            </button>
        </form>
    </div>
</section>